
*.iml
*.pyc
Experimentos/01_Técnica MOO/.idea/misc.xml
Experimentos/01_Técnica MOO/.idea/modules.xml
Experimentos/01_Técnica MOO/.idea/vcs.xml
Experimentos/01_Técnica MOO/.idea/workspace.xml
*.class
